

.modalTitleReg{
	
	   margin: -12px 12px;
    line-height: 1.42857143;
    background-color: #4c2222;
    border-radius: 21px;
    color: #f1eeeef2;
	
}
.modalTitle{
	
	margin: -12px 12px;
    line-height: 1.42857143;
    background-color: #4c2222;
    border-radius: 21px;
    color: #f1eeeef2;
}
@media screen and (min-width:768px){
	.modalTitleReg{
	
	    margin: 2px 146px;
    line-height: 1.42857143;
    background-color: #4c2222;
    border-radius: 21px;
    color: #f1eeeef2;
	
}
.modalTitle{
	
	margin: 2px 195px;
    line-height: 1.42857143;
    background-color: #4c2222;
    border-radius: 21px;
    color: #f1eeeef2;
}
  
}
@media screen and (min-width: 568px) {
  body {
    background-color: #e0e0e0;
  }
}

@media (max-width: 767px){
.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: #fbfbfb;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
   /* background-color: #eee;*/
    /* border-color: #337ab7; */
}
}

.lihover:hover{
	
	color:red;
}
