.cardLayout{
	
	margin-top:10px;
	background-color:#24384e;
	   
}
.cardLayout1{
	
	margin-top:3px;
	background-color:#24384e;
	   
}
.card-header:first-child {
   border-top-left-radius: 6px;
			border-top-right-radius: 6px;
}
.cardHeading{
			border-left: 1px solid rgba(216, 194, 194, 0.32);
			border-right: 1px solid rgba(216, 194, 194, 0.32);
			border-top: 1px solid rgba(216, 194, 194, 0.32);
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
	font-size:10px;
	padding-top:0px;
	padding-left:7px;
	padding-right:5px;
	padding-bottom:0px;
	margin-bottom:0px;
	border-bottom: 1px solid rgba(216, 194, 194, 0.32);  
}

.cardHeading1{
		color:white;
	font-size:13px;
	padding-top:0px;
	padding-left:7px;
	padding-right:5px;
	padding-bottom:0px;
	margin-bottom:0px;
	   color:white;
}
.year{
	font-size:8px;
	display:block;
	padding-left:7px;
	margin-bottom: 7px;
	color:#b9b9b9;
}

.bar{
	
	margin-bottom:0px;
	padding-bottom:0px;
	display:inline-block;
	width:1.2px; 
	height:7px;
	background-color:#b9b9b9;
	
}
.cardBody{
			padding:0px 0px 0px 12px;
			border-left: 1px solid rgba(216, 194, 194, 0.32);
			border-right: 1px solid rgba(216, 194, 194, 0.32);
			border-bottom: 1px solid rgba(216, 194, 194, 0.32);
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;
}
.cardBody2{
			padding:0px 0px 0px 0px;
			border-left: 1px solid rgba(216, 194, 194, 0.32);
			border-right: 1px solid rgba(216, 194, 194, 0.32);
			border-bottom: 1px solid rgba(216, 194, 194, 0.32);
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;
}
.col1CardNumber1{
	
	margin-bottom:2px;
	color:#72ff39;
}
.col1CardNumber2{
	
	margin-bottom:2px;
	color:#d39e00;
}
.col1CardNumber3{
	
	margin-bottom:2px;
	color:red;
}
.col1CardProgress{
	margin-bottom: 11px;
    margin-right: 11px;
    margin-left: 4px;
	
}
label{
	
	
	font-family:roboto,sans-serif;
}
body{
	
	background-color:#10263e;
}
.cardCol2Heading1{
		color:white;
	font-size:15px;
	padding-top:0px;
	padding-left:7px;
	padding-right:5px;
	padding-bottom:0px;
	margin-bottom:0px;
	   color:white;
}
.cardContent{
	
    color: white;
    font-size: 10px;
    position: relative;
    display: inline-block;
    margin: 0px;
    margin-top: 10px;	
	
}
.progressBar1{
	
	
	height: 5px;
    width: 40%;
    display: inline-block;
    border-radius: 2px;
    background-color: #238ac3;
}
.progressBar2{
	
	
	height: 5px;
    width: 46%;
    display: inline-block;
    border-radius: 2px;
    background-color: #238ac3;
}
.progressBar3{
	
	
	height: 5px;
    width: 50%;
    display: inline-block;
    border-radius: 2px;
    background-color: #238ac3;
}
.progressBar4{
	
	
	height: 5px;
    width: 60%;
    display: inline-block;
    border-radius: 2px;
    background-color: #238ac3;
}
.progressBar5{
	
	
	height: 5px;
    width: 42%;
    display: inline-block;
    border-radius: 2px;
    background-color: #cab427;
}
.progressBar51{
	
	
	height: 5px;
    width: 42%;
    display: inline-block;
    border-radius: 2px;
    background-color: #2fc748;
}
.progressBar6{
	
	
	height: 5px;
    width: 45%;
     display: inline-block;
    border-radius: 2px;
    background-color: #238ac3;
}
.progressBar7{
	
	
	height: 5px;
    width: 53%;
    display: inline-block;
    border-radius: 2px;
    background-color: #cab427;
}
.progressBar71{
	
	
	height: 5px;
    width: 53%;
    display: inline-block;
    border-radius: 2px;
    background-color: #2fc748;
}
.progressBar8{
	
	
	height: 5px;
    width: 46%;
    display: inline-block;
    border-radius: 2px;
    background-color: #238ac3;
}
.progressBar9{
	
	
	height: 5px;
    width: 46%;
    display: inline-block;
    border-radius: 2px;
    background-color: #cab427;
}
.progressBar91{
	
	
	height: 5px;
    width: 46%;
    display: inline-block;
    border-radius: 2px;
    background-color: #2fc748;
}
.progressBar10{
	
	
	height: 5px;
    width: 50%;
     display: inline-block;
    border-radius: 2px;
    background-color: #238ac3;
}
.progressBar11{
	
	
	height: 5px;
    width: 46%;
    display: inline-block;
    border-radius: 2px;
    background-color: #cab427;
}
.progressBar111{
	
	
	height: 5px;
    width: 46%;
    display: inline-block;
    border-radius: 2px;
    background-color: #2fc748;
}
.progressBar12{
	
	
	height: 5px;
    width: 60%;
   display: inline-block;
    border-radius: 2px;
    background-color: #238ac3;
}

.progressNumber{
	color:#b9b9b9;
	font-size:8px;
	margin-bottom:0px;
}
.height{
	
	
	    line-height: 0.41;
		margin-bottom:10px;
		margin-top:4px;
}
.paddingleft0{
	padding-left:0px;
}
.cardBodyIn{
	padding:0px 0px 0px 12px;
			border-left: 1px solid rgba(216, 194, 194, 0.32);
			border-right: 1px solid rgba(216, 194, 194, 0.32);
			border-bottom: 1px solid rgba(216, 194, 194, 0.32);
	
}
.dot1{
				height: 15px;
			  width: 15px;
			  background-color: #cab427;
			  border-radius: 50%;
			  display: inline-block;
		margin-top:8px;
		padding-top:5px;
		    margin-left: 59px;
}
.dot9{
				height: 15px;
			  width: 15px;
			  background-color: #2fc748;
			  border-radius: 50%;
			  display: inline-block;
		margin-top:8px;
		padding-top:5px;
		    margin-left: 59px;
}
.dot2{
	height: 15px;
			  width: 15px;
			  background-color: #007bff;
			  border-radius: 50%;
			  display: inline-block;
			  position:relative;
}
.label1{
	line-height:1;
}
.img1Layout{
	width:100%;
        height: 171px;
	
}
.img2Layout{
	width:100%;
          height: 166px;
	
}
.card2body{
	
	
	        padding-bottom: 5px;
}
.paddingCard{
	
	      padding-right: 15px;
    padding-left: 3px;
   
}
.paddingLeftCard{
	padding-right: 23px;
    padding-left: 12px;
	
	
}
.card1Body{
	padding-bottom: 25px;
}
.card3foot{
	    padding-bottom: 36px;
	
}
.footlabel{
	
	    color: white;
    font-size: 12px;
    padding-left: 8px;
	 padding-right: 8px;
}
.img5Layout{
	width:100%;
	height: 48px;
}
.card3Body{
	    padding-bottom: 25px;
}
.dot3{
				height: 15px;
			  width: 15px;
			  background-color: #cab427;
			  border-radius: 50%;
			  display: inline-block;
		
		padding-top:5px;
		    margin-left: 7px;
}
.dot4{
	height: 15px;
			  width: 15px;
			  background-color: #007bff;
			  border-radius: 50%;
			  display: inline-block;
			  position:relative;
}
.dot5{
	height: 15px;
			  width: 15px;
			  background-color: #007bff;
			  border-radius: 50%;
			  display: inline-block;
			  position:relative;
}
.footlabe2{
	
	    color: white;
    font-size: 12px;
    padding-left: 8px;
	 padding-right: 8px;
	     margin-bottom: 0px;
}